/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  background-color: black;
  /* display: flex;
  flex-direction: column; */
}

.menuCont {
  color: red;
  /* margin: 0 auto; */
  display: flex;
  height: 100vh;
  /* width: 100vw;
  flex-direction: column;
  justify-content: center; */
}

.menuDiv {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menuTitle {
  color: blue;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.lifeSizeDiv {
  height: 198px;
  flex-direction: column;
}

.lifeSizeTxt {
  margin: 10px auto;
}

.menuInput {
  margin:   3vh auto;
  width:    8em;
  height:   3em;
  text-align: center;
  /* display: flex; */
  /* flex-direction: row; */
  background-color: black;
  color: white;
  border: 1px solid #522aa9bf;
  border-radius: 5% 10% 5% 10%;
}

.menuBtn {
  margin: auto;
  /* flex-direction: column;
  display: flex; */
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
  padding: 5px 15px;
}

.menuBtn:hover {
  background-color: white;
  color: black;
}

/* Life's Options Radios */

.ruleDiv {
  height: 198px;

}

.ruleInfo {
  margin:  auto;
  /* border: 1px solid red; */
}

.ruleOpsTxt {
  margin: 10px auto;
}

.fadeOut {
  margin: 40px auto 10px auto;
  opacity:0;
  /* width:0;
  height:0; */
  transition: opacity 0.5s 0.5s;
}

.fadeIn {
  margin: 40px auto 10px auto;
  opacity:1;
  /* width:100px;
  height:100px; */
  transition: opacity 0.5s 0.5s;
}

.startFadeIn {
  margin: 20px auto;
  opacity:1;
  transition: opacity 1.5s 1.5s; 
}

.opsLbl {
  display:    inline-block;
  text-align: center;
  margin:     0 0.2em;

}

.opsLbl input[type='radio'] {
  display:    block;
  margin:     0.5em auto;
}

/* Life */

h2 {
  color: green;
}

.lifeCont {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  margin: auto;
}

.lifeDiv {
  display: flex;
  height: 80vh;
}

.life {
  /* display: flex; */
  /* flex-direction: column; */
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.controls {
  margin: 0 auto;
  height: 10vh;
  /* bottom: 0;
  left: 0;
  right: 0;
  position: absolute */
}

.ctrlBtn {
  margin: auto;
  /* flex-direction: column;
  display: flex; */
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
  padding: 5px 15px;
}

.statsTlt {
  color: Green;
  font-size: 2em;
  font-weight: bold;
}

.stats {
  margin: 0 auto;
  color: purple;
  text-align: center;
  height: 10vh;
  /* display: flex;
  flex-direction: row; */
}

@media screen and (max-width: 600px) {
  .lifeSizeDiv {
    height: 30vh;
  }
  .lifeSizeTxt {

  }
}