.mainTitle {
  color: red;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

h1 {
  color: blue;
}

h2 {
  color: green;
}

.board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cell {

}